@{
    ViewBag.Title = "Electronic";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12  top-buffer">
                <div class="panel-details">
                    <div class="title-top-fix">Hóa đơn điện tử</div>
                    <div class="postpadding">
                        <h1 class="title">
                            Tiện ích với hoá đơn điện tử
                        </h1>
                        <p class="date">
                            12/07s/2015
                        </p>
                        <div class="content">
                            <td width="96%">
                                <div align="justify">

                                    <span class="showcase"><span><span><strong>Nhằm đơn giản hoá thủ tục, tạo thuận lợi cho khách hàng trong việc lưu trữ và sử dụng hoá đơn, tiện cho việc kê khai và nộp thuế, VNPT Hà Nội tiếp tục đẩy mạnh việc áp dụng hoá đơn điện tử (HĐĐT) trong thanh toán cước Viễn thông – Internet.</strong></span></span> </span><br><br>
                                    <span class="tomtat">
                                        <img src="~/ContentFront/img/invoice%201.jpg" style="display: block;margin-left: auto; margin-right: auto;" />

                                        <p><span>Theo đó, đến thời hạn thanh toán cước VT- CNTT hàng tháng, thay bằng việc nhận hoá đơn giấy truyền thống, khách hàng sẽ nhận được hoá đơn điện tử. Khi hợp cần tra cứu chi tiết, in và tải hoá đơn điện tử khách hàng truy cập vào website: <a href="http://hanoi.vnpt.vn">http://hanoi.vnpt.vn</a> bằng user và password cá nhân. Để biết user và password khách hàng gọi đến tổng đài 04.38700700 sẽ được cung cấp. </span></p>
                                        <p><span>Trong trường hợp thanh toán tại nhà hoặc tại quầy giao dịch sẽ nhận được “Giấy biên nhận thanh toán” để làm cơ sở xác thực đã thanh toán tiền cước cho VNPT Hà Nội. Đối với khách hàng thanh toán qua ngân hàng thì việc xác nhận thanh toán được thực hiện như trước đây bằng các chứng từ ủy nhiệm thu, ủy nhiệm chi, giấy báo nợ, giấy báo có ... của ngân hàng. </span></p>
                                        <img src="~/ContentFront/img/invoice%202.jpg" style="display: block;margin-left: auto; margin-right: auto;" />
                                        <p><span>Áp dụng hóa đơn điện tử trong thanh toán cước dịch vụ VT-CNTT sẽ giúp khách hàng dễ theo dõi chứng từ thanh toán; nhận giấy báo và truy nhập nhận hóa đơn nhanh chóng; khai báo và quyết toán thuế thuận tiện, tiết kiệm chi phí, diện tích lưu trữ; bảo quản và truy lục hóa đơn, tránh thất thoát, cháy hỏng hóa đơn và bảo vệ môi trường vv… Không những thế, việc áp dụng hoá đơn điện tử phù hợp với các công nghệ tiên tiến đang được áp dụng trên thế giới như Mobile Banking, Internet Banking, SMS Banking, ... Đối với khách hàng kê khai thuế, hóa đơn điện tử được cơ quan thuế chấp nhận như hóa đơn giấy.</span></p>
                                        <p><span>Tính đến tháng 3/2015 việc áp dụng “Hóa đơn điện tử” đã được VNPT Hà Nội triển khai tại 5 quận: Cầu Giấy, Ba Đình, Tây Hồ và Nam/Bắc Từ Liêm. Dự kiến đến tháng 5/2015 sẽ áp dụng đồng loạt trên địa bàn Thành phố Hà Nội. </span></p>
                                        <p><span>Việc áp dụng thanh toán Hoá đơn điện tử VNPT Hà Nội thực hiện theo chủ trương của Chính phủ nhằm đơn giản hoá thủ tục tài chính, mang lại tiện ích cho khách hàng trong việc lưu trữ và sử dụng hoá đơn được Tập đoàn VNPT và Tổng cục Thuế hướng dẫn chi tiết trong quá trình triển khai.&nbsp; </span></p>
                                        <img src="~/ContentFront/img/invoice%203.jpg" style="display: block;margin-left: auto; margin-right: auto;" />
                                        <p><span>Mọi vướng mắc hoặc cần thông tin chi tiết về hóa đơn điện tử, khách hàng vui lòng liên hệ với tổng đài chăm sóc khách hàng: 04.38700700/04.800126 để được hỗ trợ và giải đáp kịp thời.</span></p>
                                    </span>
                                </div>
                                <div align="right" class="duatin">
                                    <p> (Nguồn tin: MH)</p>
                                </div>
                            </td>
                        </div>
                    </div>

                </div>

            </div>
            @*<div class="col-md-4">
                @Html.Action("RightPanel", "Post", new { model = Model })
            </div>*@
            <div class="col-md-8  top-buffer">

            </div>
        </div>
    </div>
</div>
